<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

 
    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.json</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- 1 GB per file -->
            <maxFileSize>1GB</maxFileSize>

            <!-- Keep max 6 files -->
            <maxHistory>6</maxHistory>

            <!-- Rolling pattern -->
            <fileNamePattern>
                logs/application.%d{yyyy-MM-dd}.%i.json
            </fileNamePattern>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <threadName/>
                <loggerName>
                    <shortenedLoggerNameLength>40</shortenedLoggerNameLength>
                </loggerName>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.example.userservice.UserserviceApplication" level="INFO" additivity="false">
        <appender-ref ref="JSON_FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
